#searchbar {
    text-align: center;
    margin: 2%;
}

.search {
    max-width: 100%;
    margin: 0 auto;
}

.search input[type=search] {
    padding: 8px 14px;
    border: 0px solid;
    background: gainsboro;
}

label {
    display: none;
}

button {
    background-color: MediumSlateBlue;
    border: 2px solid MediumSlateBlue;
    color: white;
    position: relative;
    left: -8px;
    padding: 6px 12px;
}

button:hover {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
}

@media only screen and (max-width: 768px) {
    #searchbar {
        width: 100%;
        margin: auto;
    }

    .search {
        width: 100%;
    }
}