@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Cabin', sans-serif;
    width: 75%;
    margin: 5% auto;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h1 span {
    color:	MediumSlateBlue;
}

header img {
    display: block;
    margin: 0% auto;
    height: 75px;
}

header a {
    text-decoration: none;
    color: black;
}

#post-list {
    width: 66%;
    margin: 5% auto;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
}

.post-preview {
    border: 1px solid mediumslateblue;
    margin: 1% auto;
    padding: 3% 5%;
    max-width: 750px;
}

.post-preview .post-title {
}

.post-preview .post-info {
    display: flex;
    justify-content: space-between;
}

.post-preview img {
    width: 100%;
    height: auto;
    margin: 2% auto;
}

.comments-score {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.score {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: mediumslateblue;
}

.subreddit {
    color: cornflowerblue;
}

#searchbar {
    text-align: center;
    margin: 2%;
}

.search {
    max-width: 100%;
    margin: 0 auto;
}

.search input[type=search] {
    padding: 8px 14px;
    border: 0px solid;
    background: gainsboro;
}

#searchbar label {
    display: none;
}

#searchbar button {
    background-color: MediumSlateBlue;
    border: 2px solid MediumSlateBlue;
    color: white;
    position: relative;
    left: -8px;
    padding: 6px 12px;
}

#searchbar button:hover {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
}

.full-post {
    width: 80%;
    max-width: 750px;
    min-width: 500px;
    margin: auto;
    padding: 5%;
    border: 1px solid cornflowerblue;
}

.full-post img {
    width: 100%;
    height: auto;
}

.comment-container {
    width: 66%;
    margin: 5% auto;
}

.comment-container .comment {
    border: 1px solid mediumslateblue;
    margin: 1% auto;
    padding: 2% 5%;
    max-width: 750px;
}

@media only screen and (max-width: 768px) {
    header {
        margin: 7% auto;
    }

    header h1 {
        display: none;
    }

    body {
        width: 100%;
    }

    #searchbar {
        width: 100%;
        margin: auto;
    }

    .search {
        width: 100%;
    }

    #post-list {
        width: 95%;
        margin: 5% auto;
    }

    .full-post {
        width: 90%;
        margin: 10% auto 10% auto;
        padding: 10% 2%;
        min-width: 0;
    }

    .comment-container {
        width: 90%;
        margin: 1% auto;
        padding: 5%;
    }
}